<div class="wrapper">
  <img
    class="banner"
    src="https://firebasestorage.googleapis.com/v0/b/rana-maturaball.appspot.com/o/Screenshot%202024-01-26%20at%2009.27.12.png?alt=media&token=04990e7d-dc63-4366-a72a-786e08b6dc63"
    alt=""
  />
  <div class="preview-title">
    <h1>Fotogalerie des Maturaballs 2024!</h1>
    <img
      class="border-styled"
      src="https://firebasestorage.googleapis.com/v0/b/rana-maturaball.appspot.com/o/image-removebg-preview%20(9).png?alt=media&token=36fd09a4-ca9c-4f20-a89f-816e09e79cdd"
      alt=""
    />
  </div>
  <p>Hier werden bald die Bilder des Maturaballs angezeigt</p>
  <h1>Coming Soon!</h1>
</div>
