<div class="wrapper">
  <img
    class="banner"
    src="https://firebasestorage.googleapis.com/v0/b/rana-maturaball.appspot.com/o/bannermaturaball.jpg?alt=media&token=a0903bad-23e9-4338-ac9b-17f646891b91"
    alt=""
  />
  <div class="header">
    <h1>Royal night - ein krönender Abschluss</h1>
  </div>
  <div class="body">
    <div class="information-container">
      <div class="information info-left">
        <h1>Wann?</h1>
        <p>
          Der diesjährige Maturaball ist für den <b>27. April 2024</b> geplant.
          Die Türen werden ab <b>21:30 Uhr</b> geöffnet sein, um euch willkommen
          zu heißen. Falls jemand bisher noch kein Ticket erworben hat, besteht
          natürlich die Möglichkeit, dies an der Abendkasse zu tun.
        </p>
      </div>
      <div class="information info-right">
        <h1>Wo?</h1>
        <p>
          Die <b>Simplonhalle</b> in Brig bleibt auch in diesem Jahr der
          bewährte Veranstaltungsort für unser bevorstehendes Event. Sie finden
          die Halle in Brig Rhonesandstrasse 18A. Wir freuen uns darauf, Sie in
          der vertrauten und gemütlichen Atmosphäre der Simplonhalle willkommen
          zu heißen und gemeinsam ein unvergessliches Event zu erleben.
        </p>
      </div>
      <div class="information info-left">
        <h1>Wie?</h1>
        <p>
          Das Event ist für Personen ab <b>16 Jahren </b>zugänglich. Wir bitten
          Sie höflichst, beim Einlass Ihren Ausweis zusammen mit Ihrem gültigen
          Ticket vorzuzeigen. Wir akzeptieren sowohl digitale als auch physische
          Tickets.
        </p>
      </div>
    </div>

    <div class="button">Tickets kaufen</div>
    <div class="UsPreview">
      <div class="preview-title">
        <h1>Über uns</h1>
        <img
          class="border-styled"
          src="https://firebasestorage.googleapis.com/v0/b/rana-maturaball.appspot.com/o/image-removebg-preview%20(9).png?alt=media&token=36fd09a4-ca9c-4f20-a89f-816e09e79cdd"
          alt=""
        />
      </div>

      <p>
        Gemäss der Tradition wird der Maturaball des Kollegium Spiritus Sancuts
        Brig jedes Jahr von Schüler:innen des vierten Jahres organisiert. Dieses
        Jahr sind wir ein Team aus 13 Personen
      </p>
      <div class="button">Mehr</div>
    </div>
  </div>
</div>
