.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
  .banner {
    width: 66vw;
    border-radius: 5px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
      font-size: 52px;
    }
    @media (max-width: 700px) {
      h1 {
        font-size: 32px;
      }
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .information-container {
      display: flex;
      flex-direction: column;
      width: 40vw;
      margin-bottom: 100px;
      .information {
        width: 18vw;

        min-width: 200px;
      }
      h1 {
        color: #d7b684;
        font-size: 40px;
      }
      .info-left {
        align-self: flex-start;
      }
      .info-right {
        align-self: flex-end;
      }
    }

    .button {
      width: 200px;
      padding: 10px;
      margin-bottom: 100px;
      border: 1px solid #d7b684;
      border-radius: 50px;
      text-align: center;
      cursor: pointer;
    }
    .button:hover {
      background-color: #d7b684;
    }
    .about-us {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;

      .about-us-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          text-align: center;
          color: #000;
          font-size: 52px;
        }
      }
      p {
        width: 30vw;
        min-width: 300px;
        text-align: center;
      }
      .contact {
        .emailButton {
          background-color: #d7b684 !important;
        }
      }
      .aboutus-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        .text {
          display: flex;
          flex-direction: row;
          margin-bottom: 50px;
          align-items: center;
        }
        p {
          width: 40vw;
          margin-bottom: 40px;
          text-align: center;
        }
        .h3 {
          text-align: center;
        }
        .pic-of-dj {
          width: 300px;
          border-radius: 5px;
        }
        .QR-Code {
          width: 100px;
        }
      }
    }
    .sponsors {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .border-styled {
    width: 300px;
    margin-top: -20px;
  }
  .banner-container {
    position: relative;
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
  }

  .images {
    display: inline-flex;
    animation: scrollLeft 10s linear infinite;
  }

  .images img {
    width: auto;
    height: 100px;
    margin-right: 100px;
  }

  @keyframes scrollLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
