<div class="wrapper">
  <img
    class="banner"
    src="https://firebasestorage.googleapis.com/v0/b/rana-maturaball.appspot.com/o/bannermaturaball.jpg?alt=media&token=a0903bad-23e9-4338-ac9b-17f646891b91"
    alt=""
  />
  <div class="header">
    <div>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/rana-maturaball.appspot.com/o/Image%2088.jpg?alt=media&token=4395f2dc-d080-4f9d-a180-ff59cbd70d75"
        alt=""
      />
    </div>

    <h1>Maturaball - Royal Night</h1>
  </div>
  <div class="body">
    <div class="information-container">
      <div class="information info-left">
        <h1>Wann?</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime natus
          beatae perspiciatis cupiditate eligendi reiciendis consequuntur!
          Pariatur et deleniti voluptatem? Culpa dolorum iste distinctio aut
          incidunt minima, quibusdam adipisci blanditiis.
        </p>
      </div>
      <div class="information info-right">
        <h1>Wo?</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id vitae
          repudiandae dolorem voluptatem tenetur, deserunt odit ipsam.
          Praesentium ea corporis amet deleniti, eius saepe, culpa fuga hic
          magnam ab provident.
        </p>
      </div>
      <div class="information info-left">
        <h1>Wie?</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam,
          labore minima laudantium at amet fugiat excepturi, inventore
          recusandae omnis quae ducimus suscipit ipsum ratione quia, rerum eos
          ex sunt magni.
        </p>
      </div>
    </div>

    <div class="button">Tickets kaufen</div>
  </div>
</div>
