<div class="wrapper">
  <div class="left-container">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/rana-maturaball.appspot.com/o/DALL%C2%B7E%202024-01-22%2014.38.50%20-%20Ein%20elegantes%20Logo%20fu%CC%88r%20das%20Event%20'Royal%20Night%20Maturaball'%2C%20das%20im%20Zentrum%20eine%20raffinierte%2C%20goldene%20Krone%20zeigt.%20Diese%20Krone%20sollte%20ko%CC%88nigliche%20Eleganz.png?alt=media&token=fe71295b-5078-48f0-8eea-9b6ae86d363b"
      alt=""
    />
  </div>
  <div class="middle-container">
    <div class="routerlinks">
      <p class="menu-item">Tickets</p>
      <p class="menu-item">Sponsoren</p>
      <p class="menu-item">Über uns</p>
      <p class="menu-item">Gallerie</p>
    </div>
    <div class="powered-by">powered by Rana ©</div>
  </div>
  <div class="right-container">
    <div class="socials"></div>
  </div>
</div>
